simulador/simulador/Cenario/cenarios/
simulador/simulador/_out/resultados/
simulador/simulador/Cenario/cenarios/cenario_demonstracao.pkl
simulador/simulador/Cenario/cenarios/cenario1.pkl
simulador/simulador/Cenario/cenarios/cenario2.pkl
simulador/simulador/_out/resultados/resultado_demonstracao.csv
